[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true

# IDE0032: Use auto property
dotnet_diagnostic.IDE0032.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
